Data source : 
Kaggle (https://www.kaggle.com/open-source-sports/mens-professional-basketball?select=basketball_awards_players.csv)
data.world (https://data.world/datadavis/nba-salaries) 

Data loaded into the relational databse basketball_db with three tables: players; awards; salary;

Data Analysis: 

Get a tableframe with data about top players with more than ten awards 

Get a tableframe with data about players with top ten max salaries

A regression analysis is conducted to show the relationship between players' awards_count and max salary.
It turned out there is no significant relation between players' awards_count and max salary. The reason could be players who played basketball for many years tend to have more awards and salary years ago can not match today's and young players with less awards tend to have high salary with current salary standard.

In [ ]:
# Import Dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,inspect
import os
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats as st

In [ ]:
# read player_allstar csv file, drop unnecessary columns
csv_file="resources/basketball_player_allstar.csv"
players_df=pd.read_csv(csv_file)
players_df=players_df[["player_id","last_name","first_name"]]
# drop duplicates and set player_id as index
players_df.drop_duplicates("player_id",inplace=True)
players_df.set_index("player_id", inplace=True)
players_df

In [ ]:
# read player_awards csv file, drop unnecessary columns
csv_file="resources/basketball_awards_players.csv"
awards_df=pd.read_csv(csv_file)
awards_df=awards_df[["playerID","award","year"]]
# rename column playerID
awards_df.columns=["player_id","award","year"]
awards_df

In [ ]:
# read csv file of salaries and drop unnecessary columns
csv_file="resources/salaries_1985to2018.csv"
salary_df=pd.read_csv(csv_file)
salary_df=salary_df[["player_id","season","salary",]]
salary_df

In [ ]:
# create database connection
password=os.environ.get("PASSWORD")
engine= create_engine('postgresql://postgres:'+password+'@localhost:5432/basketball_db')
connection=engine.connect()
inspector=inspect(engine)
inspector.get_table_names()

In [ ]:
# load dataframe into database
try:
    players_df.to_sql(name="players",con=engine,if_exists="append")
except:
    print("Table is already updated")

In [ ]:
# query table to confirm dataframe is loaded into database
pd.read_sql_query('select * from players', con=engine).head()

In [ ]:
# set index to awards_df
awards_df["id"]=range(1,len(awards_df)+1)
awards_df.set_index("id",inplace=True)
awards_df

In [ ]:
# load awards dataframe into database
try:
    players_df.to_sql(name="awards",con=engine,if_exists="append")
except:
    print("Table is already updated")

In [ ]:
# query table to confirm dataframe is loaded into database
pd.read_sql_query('select * from awards', con=engine).head()

In [ ]:
# set index to salary_df
salary_df["id"]=range(1,len(salary_df)+1)
salary_df.set_index("id",inplace=True)
salary_df

In [ ]:
# load salary dataframe into database
try:
    salary_df.to_sql(name="salaries",con=engine,if_exists="append")
except:
    print("Table is already updated")

In [ ]:
# query table to confirm dataframe is loaded into database
pd.read_sql_query('select * from salaries', con=engine).head()

In [ ]:
# query about each player's count of awards and his average salary
awards_salary=pd.read_sql_query('''select t1.player_id,awards_count,max_salary
                             from(
                                  select awards.player_id,count(awards.award) as awards_count
                                  from awards
                                  group by awards.player_id)as t1
                              inner join( 
                                  select salaries.player_id,max(salary) as max_salary
                                  from salaries 
                                  group by salaries.player_id
                              ) as t2 on t1.player_id = t2.player_id''',con=engine)

awards_salary

In [ ]:
# get columns from player dataframe
players_df.reset_index(inplace=True)
players_df=players_df[["player_id","last_name","first_name"]]
players_df

In [ ]:
# merge palyers_df and awards_salary
all_data=player_df.merge(awards_salary,on="player_id", how="inner")
all_data

In [ ]:
# top players with more than 10 awards
top_awards_count=all_data.loc[all_data["awards_count"]>10]
top_awards_count.sort_values(by="awards_count",ascending=False)

In [ ]:
# top salaries
top_salaries=all_data.sort_values(by="max_salary",ascending=False).head(10)
top_salaries

In [ ]:
# scatter plot and regression about awards_count and max_salary
x_values=all_data["awards_count"]
y_values=all_data["max_salary"]
r_value=st.pearsonr(x_values,y_values)[0]
print("The correlation between max salary and awards count is "
      +str(round(r_value,2)))
(slope, intercept, rvalue, pvalue, stderr) = st.linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(20,10000000),fontsize=12)
plt.title("Max Salary vs. Awards Count for each Player",fontsize=15)
plt.xlabel("Awards Count",fontsize=12)
plt.ylabel("Max Salary(10m)",fontsize=12)
plt.show()